[submodule "external/logmich"]
	path = external/logmich
	url = https://github.com/Grumbel/logmich.git
[submodule "external/tinygettext"]
	path = external/tinygettext
	url = https://github.com/Grumbel/tinygettext.git
